body,html {
  text-align: center;
  margin:0;
  padding:0;
  font-family: Questrial;
  overflow: hidden;
  background: #001529;
}

.App{
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
}

.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: repeat(3,1fr);*/
  width:100%;
  margin:0 auto;
  grid-gap: 0;
  justify-content: center;
}
